name: Build and Test (Galactic)
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 21 * * *'
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: galactic
      - name: Build rmoss_contrib
        uses: ros-tooling/action-ros-ci@v0.2
        with:
          target-ros2-distro: galactic
          vcs-repo-file-url: "${{ github.workspace }}/dependency.repos"
          skip-tests: true
      - name: Test rmoss_auto_aim
        run: |
          source /opt/ros/galactic/setup.sh
          cd ros_ws
          colcon test --packages-select rmoss_auto_aim --event-handlers console_cohesion+ --return-code-on-test-failure
